<!DOCTYPE html>
<html lang=en>
   <head>
      <title>Biology</title>
      <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="robots" content="NONE" />
      <meta name="keywords" content="biology, биология, dna, rna, днк, рнк, молярная масса, химия, белки" />
      <meta name="description" content="Набор утилит для помощи студентам с биологическими вычислениями." />
      <meta name="author" content="limitedeternity" />
      <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png" />
      <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png" />
      <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png" />
      <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png" />
      <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png" />
      <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png" />
      <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png" />
      <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
      <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png" />
      <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
      <link rel="manifest" href="/config/manifest.json" />
      <meta name="msapplication-config" content="/config/browserconfig.xml" />
      <meta name="msapplication-TileColor" content="#87c5a4" />
      <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png" />
      <meta name="msapplication-starturl" content="https://biotools-webapp.herokuapp.com/webapp/" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="theme-color" content="#87c5a4" />
      <link rel=stylesheet type="text/css" href="/css/main.css" />
      <!--[if lte IE 9]>
      <link rel=stylesheet type="text/css" href="/css/ie9.css" />
      <![endif]-->
      <!--[if lte IE 8]>
      <link rel=stylesheet type="text/css" href="/css/ie8.css" />
      <![endif]-->
      <!--[if lte IE 8]><script type="text/javascript" src="/js/ie/production.ie.js"></script><![endif]-->
   </head>
   <body>
      <div id=wrapper>
         <header id=header class="alt style1">
            <a href=/ class=logo><strong>BioTools</strong> <span>by limited.eternity</span></a>
         </header>
         <section id=banner class=style1>
            <div class=inner>
               <header class=major>
                  <h1>Biology</h1>
               </header>
               <div class=content>
                  <p><br>What about it?</br></p>
               </div>
            </div>
         </section>
         <div id=main>
            <section id=one>
               <div class=inner>
                  <p>There is biology, but exactly - bioinformatics. Bioinformatics is an interdisciplinary field that develops methods and software tools for understanding biological data. As an interdisciplinary field of science, bioinformatics combines computer science, statistics, mathematics, and engineering to analyze and interpret biological data.</p>
                  <p>In this case, this tool analyzes biological sequences in order to help students check if their operations are (were) correct. This tool is like calculator. But for high-school biologists. So, this tool can convert one type of sequence to another in just a moment to make sure you won't make any mistakes, and if mistakes are already done, you will correct them (probably).</p>
                  <p>
                  <h4>So, to sum this up, this tool is capable of: </h4>
                  </p>
                  <ol>
                     <li>Making DNA conversions.</li>
                     <li>And making RNA conversions.</li>
                  </ol>
               </div>
            </section>
         </div>
      </div>
      <script type="text/javascript" src="/js/production.js"></script>
   </body>
</html>