<!DOCTYPE html>
<html lang=en>
   <head>
      <title>So, here it is.</title>
      <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="robots" content="NONE" />
      <meta name="keywords" content="biology, биология, dna, rna, днк, рнк, молярная масса, химия, белки" />
      <meta name="description" content="Набор утилит для помощи студентам с биологическими вычислениями." />
      <meta name="author" content="limitedeternity" />
      <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png" />
      <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png" >
      <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png" />
      <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png" />
      <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png" />
      <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png" />
      <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png" />
      <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
      <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png" />
      <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
      <link rel="manifest" href="/config/manifest.json" />
      <meta name="msapplication-config" content="/config/browserconfig.xml" />
      <meta name="msapplication-TileColor" content="#242943" />
      <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png" />
      <meta name="msapplication-starturl" content="https://biotools-webapp.herokuapp.com/webapp/" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="theme-color" content="#242943" />
      <link rel=stylesheet type="text/css" href="/css/main.css" />
      <!--[if lte IE 9]>
      <link rel=stylesheet type="text/css" href="/css/ie9.css" />
      <![endif]-->
      <!--[if lte IE 8]>
      <link rel=stylesheet type="text/css" href="/css/ie8.css" />
      <![endif]-->
      <!--[if lte IE 8]><script type="text/javascript" src="/js/ie/production.ie.js"></script><![endif]-->
   </head>
   <body>
      <div id=wrapper>
         <header id=header>
            <a href=/ class=logo><strong>BioTools</strong> <span>by @limitedeternity</span></a>
         </header>
         <div id=main>
            <section id=one>
               <div class=inner>
                  <header class=major>
                     <h1>Example Input</h1>
                  </header>
                  <div>
                     <pre>
                           <code>
    DNA: ATGCTTCGGTCTGGGCCAGCCTCTGGGCCGTCCGTCCCCACTGGCCGGGCCATGCCGAGTCGCCGCGTCTAA
    M-RNA: GACGGUAGAGCACUACGCUGAACCUCAUGCACCGAAUCGGGC
    T-RNA: UUUCGGAAGAGCACACGUCUGAACGUCACAGAUUACACUUGCACA
    Protein: MKASPDKTVDTDNVDNATVDANVIGDRGTAVLECDNVIVLSSDSEADQEEARVREEVKEEEDDEVSRPRK
                           </code>
                       </pre>
                  </div>
                  <div style=width:100%;height:1px;clear:both></div>
                  <button type=button class=special id=back>Go Back</button>
               </div>
            </section>
         </div>
      </div>
      <script type="text/javascript" src="/js/production.js"></script>
      <script type="text/javascript" src="/js/webapp.visual.js"></script>
   </body>
</html>