<!DOCTYPE html>
<html lang=en>
   <head>
      <title>IT</title>
      <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="robots" content="NONE" />
      <meta name="keywords" content="biology, биология, dna, rna, днк, рнк, молярная масса, химия, белки" />
      <meta name="description" content="Набор утилит для помощи студентам с биологическими вычислениями." />
      <meta name="author" content="limitedeternity" />
      <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png" />
      <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png" >
      <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png" />
      <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png" />
      <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png" />
      <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png" />
      <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png" />
      <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
      <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png" />
      <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
      <link rel="manifest" href="/config/manifest.json" />
      <meta name="msapplication-config" content="/config/browserconfig.xml" />
      <meta name="msapplication-TileColor" content="#e7b788" />
      <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png" />
      <meta name="msapplication-starturl" content="https://biotools-webapp.herokuapp.com/webapp/" />
      <meta name="mobile-web-app-capable" content="yes" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta name="theme-color" content="#e7b788" />
      <link rel=stylesheet type="text/css" href="/css/main.css" />
      <!--[if lte IE 9]>
      <link rel=stylesheet type="text/css" href="/css/ie9.css" />
      <![endif]-->
      <!--[if lte IE 8]>
      <link rel=stylesheet type="text/css" href="/css/ie8.css" />
      <![endif]-->
      <!--[if lte IE 8]><script type="text/javascript" src="/js/ie/production.ie.js"></script><![endif]-->
   </head>
   <body>
      <div id=wrapper>
         <header id=header class="alt style3">
            <a href=/ class=logo><strong>BioTools</strong> <span>by limited.eternity</span></a>
         </header>
         <section id=banner class=style3>
            <div class=inner>
               <header class=major>
                  <h1>IT</h1>
               </header>
               <div class=content>
                  <p><br>Please, tell us about this project</br></p>
               </div>
            </div>
         </section>
         <div id=main>
            <section id=one>
               <div class=inner>
                  <h2 id=content>About project</h2>
                  <p>This tool was created to test my skills out. But the main purpose was, obviously, the intention to help students with performing really complex operations. Converting, changing, solving - all that stuff.</p>
                  <div class=row>
                     <div class="6u 12u$(small)">
                        <h3>Before creation</h3>
                        <p>Before I started creating this thing, I had some HTML, JS and CSS coding skills. And Python, of course. I haven't thought about difficulty of creating project like this, so i've encountered some unexpected moments. So, I started to get new coding experience, learn, read and, obviously, code. </p>
                     </div>
                     <div class="6u$ 12u$(small)">
                        <h3>After creation</h3>
                        <p>After all encounters and other challenging moments, i've got much fun, skills and experience. I learned how to use Django and Flask, advanced animations (JQuery + Skel), advanced styling (HTML5 + CSS3), request processing (AJAX) and web-administration (a bit).</p>
                     </div>
                     <div class="4u 12u$(medium)">
                        <h3>Flask</h3>
                        <p>The back-end of this project. First time I used Django, but Flask was more suitable here. It's easy to learn, it's incredibly powerful and encourages rapid web-development (really). Python and web-development meets there. <a href=http://flask.pocoo.org/ target=_blank>All info is located here.</a> </p>
                     </div>
                     <div class="4u 12u$(medium)">
                        <h3>AJAX</h3>
                        <p>BioTools is based on interaction of Flask and AJAX requests to make service as simple and user-friendly as possible. <a href=https://api.jquery.com/category/ajax/ target=_blank>Documentation is located here.</a> </p>
                     </div>
                     <div class="4u$ 12u$(medium)">
                        <h3>Web design</h3>
                        <p>Great User Interface is the main part of any project. To be understood you should speak on the language that is understood by everyone, you know. Design - is a language, that is intuitive and really understandable. By the way, this application satisfies PWA standarts.</p>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
      <script type="text/javascript" src="/js/production.js"></script>
   </body>
</html>